body
{
	background-color: black;
	width: 100%;
	overflow-x: hidden;
	font-family: Kulim Park;
}

nav
{
	font-family: Kulim Park;
	background-color: black;
	color: white;
	font-size: 20px;
}
img.menu:hover
{
	opacity: 0.5;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

a.nav-link
{
	color: white;
}
a.nav-link:hover
{
	opacity: 50%;
}

table {
  width:100%;
  font-size:14px;
  border-collapse: collapse;
}
th{
	font-family: Inconsolata;
}
td{
	font-family: Inconsolata;
}
td.description{
	font-family: Kulim Park;
}
th, td {
  text-align:left;
  padding-left:10px;
  padding-right:10px;
  vertical-align:top;
}
thead > tr {
  border-bottom: 2px solid gray;
}
tbody > tr {
  border-bottom:1px solid gray;
}
    tbody td {
        padding: 10px;
    }

    @import 'bourbon';
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
    body {
      background: #efefef;
      height: 100vh;
      width: 100vw;
      font-family: 'Open Sans', serif;
   }
    #user-avatar-input {
      display: none;
   }
    .user-card {
      width: 360px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      overflow: hidden;
      position: relative;
      transition: 0.2s;
   }
    .user-card.editable {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
   }
    .user-card:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
   }
    .user-card__background {
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/24181/pexels-photo.jpg') center center no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      transform: scale(1.1);
      transition: 0.3s;
   }
    .user-card__background::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
   }
    .user-card__image-wrapper {
      z-index: 10;
      width: 130px;
      height: 130px;
      border-radius: 130px;
      display: inline-block;
      position: relative;
   }
    .user-card__image-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      border-radius: 130px;
      display: block;
      z-index: 10;
   }
    .user-card__avatar {
      width: 130px;
      height: 130px;
      border-radius: 130px;
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
   }
    .user-card__label {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 130px;
      line-height: 140px;
      text-align: center;
      color: #fff;
      z-index: 20;
   }
    .user-card__label .fa {
      font-size: 44px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   }
    .editable .user-card__label {
      display: block;
   }
    .user-card__edit {
      background: #b5ff44;
      border: none;
      color: #579100;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 11px;
      padding: 5px 10px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 15;
      cursor: pointer;
   }
    .user-card__edit .fa {
      position: relative;
      font-size: 13px;
      bottom: -1px;
      margin-right: 5px;
   }
    .user-card__edit:hover, .user-card__edit:active {
      background: #abff2b;
      color: #395e00;
   }
    .user-card__content {
      text-align: center;
      position: relative;
      z-index: 10;
      padding: 120px 40px;
   }
    .user-card__name {
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 5px;
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      outline: none;
   }
    .user-card__description {
      color: rgba(255, 255, 255, 0.9);
      line-height: 1.5em;
      margin: 0;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      outline: none;
   }
